*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo', sans-serif;
  text-decoration: none;
  list-style: none;
}

a:link{
  color: inherit;
}

.container-fluid{
  width: 100%;
}

.container{
  max-width: 1296;
  width: 70%;
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.row{
  display: flex;
  margin:0 auto;
}

.col-md-1, .col-sm-1, .col-lg-1{
  width: 8.3%;
  padding: 2%;
}

.col-md-2, .col-sm-2, .col-lg-2{
  width: 15%;
  padding: 2%;
}

.col-md-3, .col-sm-3, .col-lg-3{
  width: 23%;
  padding: 2%;
}

.col-md-5, .col-sm-5, .col-lg-5{
  width: 48%;
  padding: 2%;
}

.col-md-6, .col-sm-6, .col-lg-6{
  width: 48%;
  padding: 2%;
}

.col-md-7, .col-sm-7, .col-lg-7{
  width: 56%;
  padding: 2%;
}

.col-md-8, .col-sm-8, .col-lg-8{
  width: 65%;
  padding: 2%;
}

.col-md-9, .col-sm-9, .col-lg-9{
  width: 73%;
  padding: 2%;
}
.col-md-10, .col-sm-10, .col-lg-10{
  width: 78%;
  padding: 2%;
}

.col-md-11, .col-sm-11, .col-lg-11{
  width: 89%;
  padding: 2%;
}

.col-md-12, .col-sm-12, .col-lg-12{
  width: 98%;
  padding: 2%;
}

.col-md-4, .col-sm-4, .col-lg-4{
  width: 28%;
  padding: 2%;
}

/* header styles */
/***
**
*/

nav{
  background: white;
  /* position: fixed; */
}

ul{
  /* text-align: justify; */
  padding: 5%;
  align-items: center;
  justify-content: space-around;
}

ul li{
  padding:  1%;
}

/* footer styles */
/***
**
*/

hr{
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 5.5px;
}

.updates h4{
  color:#F1AC33;
}
.updates{
  color: white;
  padding: 1%;
}
.contact h4{
  padding: 2%;
}

.contact .iconify{
  font-size: 2em;
  color: #201E1E;
}

footer .updates{
  background: rgba(32, 30, 30, 0.88);
}
.updates .container{
  width: 90%;
  margin: 0 auto;
}
footer .social_m{
  background: #0e0e0e;
  text-align: center;
  font-size: 2em;
  color: #F1AC33;
}
.sm-links{
  width: 30%;
  display: flex;
  margin: 0 auto;
}
.sm-links *{
  flex-grow: 1;
  flex-shrink: 1;
}
.sm-links > span{
  background: #201E1E;
  min-width: 20%;
  margin: 0 0.5% ;
  padding: 2%;
}

footer .cpyrght{
  background: #000000;
  padding: 20px;
  font-family: 'Exo';
  font-style: normal;
  font-weight: lighter;
  text-align: center;
  color: white;
}
.cpyrght h3 span{
  color: #F1AC33;
}
