*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    letter-spacing: 0.03em;
}
.container-fluid{
    width:90%;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.space-evenly{
    justify-content: space-evenly;
}
.auto{
    margin: auto;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.start-a-proj-top{
    background: #201E1E;
    color:#fff;
}

.values{
    padding:100px 0;
}
.values-text h3{
    color:#F1AC33;
}
/*form*/
.start-a-proj-form{
    background: #E3E1DE;
    padding:30px;
    margin: auto;
    width:90%;
}
.start-a-proj-form h4{
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #201E1E;
}
.start-a-proj-form p, .start-a-proj-form input, .start-a-proj-form label, select{
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 0.02em;
    width:100%;
    margin:10px 0px;
    outline: none;
    border: none;
}
.start-a-proj-form input, select{
    background: #F2F1EF;
    color: #201E1E;
    padding:10px;
}
.start-a-proj-btn{
    background: #F1AC33;
    color:#fff;
    padding:5px 10px;
    outline: none;
    border: none;
}
/*clients*/
.client-feedback{
    margin:25px 0px;
}
.client-heading{
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 35px;
}
.start-proj-text p{
    color: #201E1E;
    font-weight: 300;
    font-size: 31px;
    margin: auto;
    width:80%;
}
.start-proj-text .name{
    color: #201E1E;
    font-weight: 500;
    font-size: 29px;
    margin:20px 0px;
}
.start-proj-text .company{
    color:#F1AC33;
    font-weight: 500;
    font-size: 29px;
}